<!doctype html>
<html lang="en" ng-app="eventList">
<head>
    <meta charset="utf-8">
    <title>Angular JS</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper" class="brad">
    <div id="header">
        <div id="navigate">
            <ul>
                <section ng-init="tab = 'Main Page'">
                <li><a href="#/" ng-click="tab = 'Main Page'">Main page</a></li>
                <li><a href="#/events" ng-click="tab = 'Events list'">Events list</a></li>
                <li><a href="#/login" ng-click="tab = 'Login'">Login</a></li>
                </section>
            </ul>
        </div>
        <br>
        <h1 class="logo" >{{tab}} </h1>
    </div>
    <div id="content"  ng-controller="EvntController as eventList">
        <div ng-view></div>
    </div>
    <div id ="footer" class="clr">some important information</div>
</div>    
</body>
</html>