<!doctype html>
<html lang="en" ng-app="eventList">
<head>
    <meta charset="utf-8">
    <title>Angular JS</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper" class="brad">
    <div id="header">
        <div id="navigate">
            <ul>
                <section ng-init="tab = 'Main Page'">
                <li><a href="index.html" ng-click="tab = 'Main Page'">Main page</a></li>
                <li><a href ng-click="tab = 'Events list'">Events list</a></li>
                <li><a href ng-click="tab = 'Login'">Login</a></li>
                </section>
            </ul>
        </div>
        <br>
        <h1 class="logo" >{{tab}} </h1>
    </div>
    <div id="content"  ng-controller="EvntController as eventList">
        <div id="news" ng-repeat="item in eventList.news" >
           <h id="news-title"> {{item.titl}}</h>
            <div id="news-content" >
               {{item.cntnt}}
            </div>
        </div> 
        <div id="news">
           <h id="news-title"> Title!</h>
            <div id="news-content">content content content content content content content content content content content content content content content content content content</div>
        </div>  
        <div class="clr"></div>
    </div>
</div>    
</body>
</html>